*{
    font-family: "brandon-grotesque",Arial,Helvetica,Geneva,sans-serif;
    padding: 0px;
    margin: 0px;
    /* background-color: pink; */
}
.title{
  padding: 35px 0px 0px 420px;
  font-size: 1.6rem;
  font-weight: bold;

}
.underscores{
  padding: 4px 0px 0px -8px;
  font-size: 1.1rem;
}
.post img{
    overflow: hidden;
    margin: 111px 1px 1px 100px;;
    width: 716px; 
    background-color: #fff;
    padding: 0 10px;
    /* width: 100%; */
    max-width: 1050px;
}
.post_text{
    padding:  47px 6px 9px 16px ;
    margin: 30px 0px 0px 90px;
    /* border:  2px red solid; */
    width: 760px;;
}
.post_text hr{
  margin: 22px 0px 22px 0px;
}
textarea{
  height: 300px;
  width: 500px; 
  margin: 14px 0px 0px 157px;
}
p{
  padding: 70px 0px 0px 157px;
}
input[type=submit]{
  margin: 10px 0px 12px 199px;
  height: 39px;
  width:122px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 13px;
}
.comment-element{
  margin: 24px 0px 0px 137px;
  width:38%;
  padding:12px 0px 15px 15px;



}
.comment-profle{
  margin: 10px 0px 15px 0px;
  font-size: 0.8rem;
}
.comment-profle a{
  text-decoration: none;
  font-size: 1rem;
}
.more_comment{
  margin: 12px 0px 22px 0px;
}
.more_comment a{
 text-decoration: none;
}
.comment-element hr{
  
  margin: 22px 0px 22px 0px;

}
.main-container{
  display: flex;
  flex-direction: row;
}
.others{
  padding: 69px 0px 0px 0px ;
  margin: 121px 0px 0px 160px ;
}
.others a{
  text-decoration: none;
}
