{% load static %}
{% block title %} {% endblock %}
    {% block css%}
    <script src="https://kit.fontawesome.com/055b453045.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&display=swap"
        rel="stylesheet">
       
        {% endblock %}

{% block body%}
    <header>
        <i class="fa fa-bars menu-toggle">
        </i>
        <div class="icon">
            <h2>Blogme</h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{% url 'Home' %}">Home</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="{% url 'authors' %}">Author</a></li>
                <li><a href="{%  url 'signin' %}">Sign in</a></li>
            </ul>
        </div>
    </header>
    

    {% endblock%}
