{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'style/sgn.css' %} " />
{% endblock %}

{% block body %}
 
<div class="main">
  <a href="{% url 'Home' %}">Go to page</a>
<h2>Login </h2>

<form action="#" method="post">
 


  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
<br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
<br>
  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn"> <a href="{% url 'signup' %}">New User?</a></button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
</div>

{% endblock %}