{% extends 'header.html' %}

{% load static %}
{% block css %}

<link rel="stylesheet" href="fontawesome/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<!-- https://fonts.google.com/ -->
<link href="{% static 'style/read.css' %}" rel="stylesheet">
<link href="{% static 'style/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'style/templatemo-xtra-blog.css'%}" rel="stylesheet">
{% endblock %} {% block body %} {% include 'header.html' %}



<div class="container-fluid">
    <main class="tm-main">
        <!-- Search form -->
        <div class="row tm-row">
            <div class="col-12">
                <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                    <input class="form-control tm-search-input" name="search_query" type="text" placeholder="Search..."
                        aria-label="Search">
                    <div class="tm-search-button" type="submit">
                        <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="row tm-row">
            <div class="col-12">
                <hr class="tm-hr-primary tm-mb-55">
                {% if post.blog_image%}
                <img src="{{post.blog_image.url}}" width="954" height="535" class="tm-mb-40">
                {% endif %}
            </div>
        </div>
        <div class="row tm-row">
            <div class="col-lg-8 tm-post-col">
                <div class="tm-post-full">
                    <div class="mb-4">
                        <h2 class="pt-2 tm-color-primary tm-post-title">{{post.blog_title}}</h2>
                        <p class="tm-mb-40">{{post.upload}} posted by <a href="{% url 'userProfile' post.id %}">
                                {{post.Author}}</a> </p>
                        {{post.blog}}
                        <div class="post-tags">
                            <a href="#" class="tag">Pen_name:{{post.Pen_name}}</a>
                            <a href="#" class="tag">:{{post.tags}}</a>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    {% if profile.id == post.Author.id %}
                    <div class="btn"><a href="{% url 'update_blog' post.id %}">Edit</a></div>
                    <div class="btn"><a href="{% url 'delete_blog' post.id %}">delete</a></div>
                    {% endif %}
                    {% endif %}
                    <!-- Comments -->
                    <div>
                        <h2 class="tm-color-primary tm-post-title">Comments</h2>
                        <hr class="tm-hr-primary tm-mb-45">
                        <div class="tm-comment tm-mb-45">
                            <hr>
                            <figure class="tm-comment-figure">
                                {% for comments in cmt %}
                                <!-- <img src="{{post.blog_image.url}}" alt="Image" -->
                                <!-- class="mb-2 rounded-circle img-thumbnail"> -->
                                <figcaption class="tm-color-primary text-center"></figcaption>
                            </figure>
                            <div>
                                <a href="#" class="tm-color-primary">{{comments.user}}</a>
                                <p>
                                    {{comments.content}}
                                </p>
                                <div class="d-flex justify-content-between">

                                    <span class="tm-color-primary"> at {{ comments.timestamp}}</span>
                                </div>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <form action="." class="mb-5 tm-comment-form" class="commenting-form" method="post" >
                            {% csrf_token %}
                            {{form.as_p}}
                            <div class="text-right">
                                <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/templatemo-script.js'%}"></script>

{% include 'footer.html' %}
{% endblock %}